@page "/viewposter"

@inject NavigationManager UriHelper

@if (Poster != null)
{
    // -------------------------------------------- Poster --------------------------------------------

    <div class="col">
        <div class="card shadow-sm">
            <img class="poster" src="/images/poster/@Poster.Poster" alt="@Poster.Title" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" @onclick="ViewMovie">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" @onclick="EditMovie">Edit</button>
                    </div>
                    <small class="text-body-secondary">@Poster.Duration mins</small>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Movie not found.</p>
}

@code {
    
    [Parameter]
    public Movie? Poster { get; set; }

    private void ViewMovie()
    {
        if (Poster != null)
        UriHelper.NavigateTo($"ViewMovie/{Poster.Movieid}");
    }

    private void EditMovie()
    {
        if (Poster != null)
        UriHelper.NavigateTo($"EditMovie/{Poster.Movieid}");
    }
}