@page "/viewallposter/{Genre?}"

@inject IDbContextFactory<MovieContext> DbFactory

@using FlickDB.Pages.Posters;

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">     
            @if (Posters.Count() == 0)
            {
                if (Genre == null)
                {
                  <p>No movie found. Please <a href="/addmovie">create</a> a movie.</p>
                }
                else 
                {
                  <ul>
                    <li><p>No movie found in category <b>@Genre</b>.</p></li>
                    <li><a class="btn btn-dark px-4 me-md-2" href="/poster">Back</a></li>
                  </ul>
                }
            }
            else
            {
              @foreach (var poster in Posters)
              {
                <ViewPoster Poster=poster />
              }
            }
        </div>
    </div>
</div>

@code {

  [Parameter]
  public string? Genre { get; set; }

  public IEnumerable<Movie> Posters { get; set; } = new List<Movie>();

  protected override async Task OnParametersSetAsync()
  {
    DbMovieTable movietable = new DbMovieTable(DbFactory);

    if (Genre != null)
    {
      Posters = await movietable.ReadRecordByGenre(Genre);
    }
    else
    {
      Posters = await movietable.ReadAllRecord();
    }
  }
}