/* -------------------------------------------- Body -------------------------------------------- */

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar-old {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #3a0647 70%);
}

.sidebar {
    background-color: #172533;
    background-image: url("../images/background/navmenu.jpg");
    background-repeat: repeat;
    border: 1px solid #333;
}

.blog-header-logo {
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }

/* -------------------------------------------- Error -------------------------------------------- */

.box-error-title, .box-error-message, .box-error-contact {
    color: #276783;
    font-size: 1em; 
    font-weight: bold;
    height: auto; 
    margin-top: 0.8em;
    padding: 0.5em;
    position: relative;
}

.box-error-title h1 {
    font-size: 2em;
}

.box-error-image figure img {
    display: block;
    text-align: left;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.box-error-message h3, .box-error-message p {
    display: block;
    text-align: left;
    font-weight: bold;
}

.error hr {
    border: 1px solid #276783;
}

/* -------------------------------------------- Media -------------------------------------------- */

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}