@inherits LayoutComponentBase

@inject NavigationManager Navigation

<PageTitle>FlickDB</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="container">
            <header class="border-bottom lh-1 py-3">
                <div class="row flex-nowrap justify-content-between align-items-center rounded-3 border">
                    <div class="col-4 d-flex align-items-left">
                        <a class="btn btn-sm btn-outline-secondary" href="/newmovie">New Movie</a>
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">FlickDB</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="link-secondary" href="#" aria-label="Search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                    </div>
                </div>
            </header>
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="FlickDBErrorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="container error">
                        <section class="row col-sm-12">
                            <article class="col-sm-12 col-md-12 col-lg-8 col-center">
                                <div class="box-error-title">
                                    <h1>Error.</h1>
                                    <h2>An error occurred while processing your request.</h2>
                                </div>
                                <hr />
                                <div class="box-error-message">
                                    An error occurred: @ex.Message
                                </div>
                                <hr />
                                <div class="box-error-contact">
                                    <h3>Contact us</h3>
                                    <p>Need help? Please send us an email if the issue persist.</p>
                                    <button class="btn btn-dark" @onclick="_ => RecoverBoundary()">Continue</button>
                                </div>
                            </article>
                        </section>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    public ErrorBoundary? FlickDBErrorBoundary { get; set; }

    protected void RecoverBoundary()
    {
        FlickDBErrorBoundary?.Recover();
        Navigation.NavigateTo("/");
    }
}