@page "/managemovie/{MovieId:int}"

@inject IDbContextFactory<MovieContext> DbFactory
@inject NavigationManager NavManager

  <div class="container my-5">
    <div class="row p-2 pb-2 pe-lg-2 pt-lg-2 align-items-center rounded-3 border shadow-sm">
      <div class="col-lg-12 p-2 p-lg-2 pt-lg-2">
        <button type="button" class="btn btn-dark px-4 me-md-2" @onclick="ToggleDeleteVisibility" disabled="@isDeleteButtonDisabled">Delete Movie</button>
        <button type="button" class="btn btn-dark px-4 me-md-2" @onclick="ToggleUpdateVisibility" disabled="@isUpdateButtonDisabled">Update Movie</button>
        <button type="button" class="btn btn-dark px-4 me-md-2" @onclick="AddActor">Add Actor</button>
        <button type="button" class="btn btn-dark px-4 me-md-2" @onclick="AddCrew">Add Crew</button>
        <button type="button" class="btn btn-dark px-4 me-md-2" @onclick="AddGenre">Add Genre</button>
      </div>
      @if (isDeleteAlertVisible)
      {
        <div class="col-lg-7 p-2 p-lg-2 pt-lg-2">
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Are you sure?</h4>
            <hr />
            <p>Do you really want to delete this movie? This process cannot be undone. Please note that deleting a movie will also delete all the actors and crews 
            associated with it.</p>
          </div>
        </div>
        <div class="col-lg-7 p-2 p-lg-2 pt-lg-2">
          <button type="button" class="btn btn-dark px-4 me-md-2" @onclick="DeleteMovie">Yes</button>
          <button type="button" class="btn btn-dark px-4 me-md-2" @onclick="ToggleDeleteVisibility">No</button>
        </div>
      }

      @if (isUpdateAlertVisible)
      {
        <div class="col-lg-12 p-2 p-lg-2 pt-lg-2">
          <UpdateMovie MovieId="MovieId"/>
        </div>
      }
    </div>
  </div>

@code {
  
    [Parameter]
    public int MovieId { get; set; }

    bool isDeleteAlertVisible = false;

    bool isUpdateAlertVisible = false;

    bool isDeleteButtonDisabled = false;

    bool isUpdateButtonDisabled = false;

    private async Task DeleteMovie()
    {
      DbMovieTable movietable = new DbMovieTable(DbFactory);
      bool isSuccess = await movietable.DeleteRecord(MovieId);
      if (isSuccess)
      {
          NavManager.NavigateTo("/poster");
      }
      else
      {
          throw new DeleteArgumentNullException();
      }
    }
    private void AddActor()
    {
        NavManager.NavigateTo($"/addactor/{MovieId}");
    }

    private void AddCrew()
    {
        NavManager.NavigateTo($"/addcrew/{MovieId}");
    }

    private void AddGenre()
    {
        NavManager.NavigateTo($"/addgenre/{MovieId}");
    }

    private void ToggleDeleteVisibility()
    {
        isDeleteAlertVisible = !isDeleteAlertVisible;
        isDeleteButtonDisabled = !isDeleteButtonDisabled;
        isUpdateButtonDisabled = !isUpdateButtonDisabled;
    }

    private void ToggleUpdateVisibility()
    {
        isUpdateAlertVisible = !isUpdateAlertVisible;
        isDeleteButtonDisabled = !isDeleteButtonDisabled;
        isUpdateButtonDisabled = !isUpdateButtonDisabled;
    }
}