@page "/managegenre/{MovieId:int}/{CrewId:int}"

@inject IDbContextFactory<MovieContext> DbFactory
@inject NavigationManager NavManager

  <div class="container">
    <div class="row p-1 pb-1 pe-lg-1 pt-lg-1 rounded-3 border shadow-sm">
      <div class="col-lg-12 p-1 p-lg-1 pt-lg-1">
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2 fw-bold" @onclick="ToggleDeleteVisibility" disabled="@isDeleteButtonDisabled">Delete</button>
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2 fw-bold" @onclick="ToggleUpdateVisibility" disabled="@isUpdateButtonDisabled">Update</button>
      </div>
      @if (isDeleteAlertVisible)
      {
        <div class="col-lg-12 p-1 p-lg-1 pt-lg-1">
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Are you sure?</h4>
            <p>Do you really want to delete this genre? This process cannot be undone.</p>
            <hr>
            <p class="mb-0">Please note that deleting a genre will also delete all infromation associated with it.</p>
          </div>
        </div>
        <div class="col-lg-12 p-1 p-lg-1 pt-lg-1">
          <button type="button" class="btn btn-primary btn-sm px-4 me-md-2 fw-bold" @onclick="DeleteGenre">Yes</button>
          <button type="button" class="btn btn-primary btn-sm px-4 me-md-2 fw-bold" @onclick="ToggleDeleteVisibility">No</button>
        </div>
      }

      @if (isUpdateAlertVisible)
      {
        <div class="col-lg-12 p-1 p-lg-1 pt-lg-1">
          <UpdateGenre MovieId="@MovieId" GenreId="@GenreId" />
        </div>
      }
    </div>
  </div>

@code {

    [Parameter]
    public int MovieId { get; set; }
  
    [Parameter]
    public int GenreId { get; set; }

    bool isDeleteAlertVisible = false;

    bool isUpdateAlertVisible = false;

    bool isDeleteButtonDisabled = false;

    bool isUpdateButtonDisabled = false;

    private async Task DeleteGenre()
    {
      DbGenreTable genretable = new DbGenreTable(DbFactory);
      bool isSuccess = await genretable.DeleteRecord(GenreId);
      if (isSuccess)
      {
          NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
      }
      else
      {
          throw new DeleteArgumentNullException();
      }
    }

    private void ToggleDeleteVisibility()
    {
        isDeleteAlertVisible = !isDeleteAlertVisible;
        isDeleteButtonDisabled = !isDeleteButtonDisabled;
        isUpdateButtonDisabled = !isUpdateButtonDisabled;
    }

    private void ToggleUpdateVisibility()
    {
        isUpdateAlertVisible = !isUpdateAlertVisible;
        isDeleteButtonDisabled = !isDeleteButtonDisabled;
        isUpdateButtonDisabled = !isUpdateButtonDisabled;
    }
}