@page "/managegenre/{MovieId:int}/{CrewId:int}"

@inject IDbContextFactory<MovieContext> DbFactory
@inject NavigationManager NavManager

      <div class="col-lg-12">
        <a type="button" class="btn btn-sm genre icon" @onclick="ToggleDeleteVisibility" disabled="@isDeleteButtonDisabled">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg>
        </a>
        <a type="button" class="btn btn-sm genre icon" @onclick="ToggleUpdateVisibility" disabled="@isUpdateButtonDisabled">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench-adjustable-circle-fill" viewBox="0 0 16 16">
            <path d="M6.705 8.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m-6.202-4.751 1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.5 4.5 0 0 1-1.592-.29L4.747 14.2a7.03 7.03 0 0 1-2.949-2.951M12.496 8a4.5 4.5 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11q.04.3.04.61"/>
          </svg>
        </a>
      </div>
      @if (isDeleteAlertVisible)
      {
        <div class="col-lg-12 p-1 p-lg-1 pt-lg-1">
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Are you sure?</h4>
            <hr />
            <p>Do you really want to delete this movie category? This process cannot be undone.</p>
          </div>
        </div>
        <div class="col-lg-12 p-1 p-lg-1 pt-lg-1">
          <button type="button" class="btn btn-dark btn-sm px-4 me-md-2" @onclick="DeleteGenre">Yes</button>
          <button type="button" class="btn btn-dark btn-sm px-4 me-md-2" @onclick="ToggleDeleteVisibility">No</button>
        </div>
      }

      @if (isUpdateAlertVisible)
      {
        <div class="col-lg-12 p-1 p-lg-1 pt-lg-1">
          <UpdateGenre MovieId="@MovieId" GenreId="@GenreId" />
        </div>
      }

@code {

    [Parameter]
    public int MovieId { get; set; }
  
    [Parameter]
    public int GenreId { get; set; }

    bool isDeleteAlertVisible = false;

    bool isUpdateAlertVisible = false;

    bool isDeleteButtonDisabled = false;

    bool isUpdateButtonDisabled = false;

    private async Task DeleteGenre()
    {
      DbGenreTable genretable = new DbGenreTable(DbFactory);
      bool isSuccess = await genretable.DeleteRecord(GenreId);
      if (isSuccess)
      {
          NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
      }
      else
      {
          throw new DeleteArgumentNullException();
      }
    }

    private void ToggleDeleteVisibility()
    {
        isDeleteAlertVisible = !isDeleteAlertVisible;
        isDeleteButtonDisabled = !isDeleteButtonDisabled;
        isUpdateButtonDisabled = !isUpdateButtonDisabled;
    }

    private void ToggleUpdateVisibility()
    {
        isUpdateAlertVisible = !isUpdateAlertVisible;
        isDeleteButtonDisabled = !isDeleteButtonDisabled;
        isUpdateButtonDisabled = !isUpdateButtonDisabled;
    }
}