@page "/navgenre"

<div class="container">
    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Action">Action</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Adventure">Adventure</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Animation">Animation</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Comedy">Comedy</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Documentary">Documentary</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Drama">Drama</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Family">Family</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Fantasy">Fantasy</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/History">History</a>
        </nav>
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Horror">Horror</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Musical">Musical</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Mystery">Mystery</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Romance">Romance</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Sci-Fi">Sci-Fi</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Sport">Sport</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Thriller">Thriller</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/War">War</a>
            <a class="nav-item nav-link link-body-emphasis link-dark link-genre" href="/poster/Western">Western</a>
        </nav>
    </div>
</div>

@code {

}