@page "/navgenre"

<div class="container">
    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis" href="/Action">Action</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Adventure">Adventure</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Animation">Animation</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Comedy">Comedy</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Documentary">Documentary</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Drama">Drama</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Family">Family</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Fantasy">Fantasy</a>
            <a class="nav-item nav-link link-body-emphasis" href="/History">History</a>
        </nav>
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis" href="/Horror">Horror</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Musical">Musical</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Mystery">Mystery</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Romance">Romance</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Sci-Fi">Sci-Fi</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Sport">Sport</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Thriller">Thriller</a>
            <a class="nav-item nav-link link-body-emphasis" href="/War">War</a>
            <a class="nav-item nav-link link-body-emphasis" href="/Western">Western</a>
        </nav>
    </div>
</div>

@code {

}