@page "/"

@inject IDbContextFactory<MovieContext> DbFactory

<PageTitle>FlickDB - Home</PageTitle>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var poster in Posters)
            {
                <ShowPoster Poster=poster />
            }
            
        </div>
    </div>
</div>

@code {
  public List<MoviePoster> Posters { get; set; } = new List<MoviePoster>();

  protected override async Task OnInitializedAsync()
  {
    using (var db = DbFactory.CreateDbContext())
    {
      if (db.Movies != null)
        Posters = await db.Movies
          .Select(movie => new MoviePoster
          {
            Movieid = movie.Movieid,
            Title = movie.Title,
            Poster = movie.Poster,
            Duration = movie.Duration
          })
          .ToListAsync();

      db.Dispose();
    }
  }
}