@page "/"

@inject MovieContext Database

<PageTitle>FlickDB - Home</PageTitle>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var movie in Movies)
            {
                <ShowPoster MovieId=movie.Movieid />
            }
        </div>
    </div>
</div>

@code {
  public List<Movie> Movies { get; set; } = new List<Movie>();

  protected override async Task OnInitializedAsync()
  {
    if (Database.Movies != null)
      Movies = await Database.Movies.ToListAsync();
  }
}