@page "/"

@inject IDbContextFactory<MovieContext> DbFactory

@using FlickDB.Pages.Movies;

<PageTitle>FlickDB - Home</PageTitle>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var poster in Posters)
            {
                <ShowPoster Poster=poster />
            }
            
        </div>
    </div>
</div>

@code {

  public IEnumerable<MoviePoster> Posters { get; set; } = new List<MoviePoster>();

  protected override async Task OnInitializedAsync()
  {
    IMovieReader movieReader = new MovieService(DbFactory);
    Posters = await movieReader.ReadAllMovies();
  }
}